h6
{
   color: yellow;

}
h1
{
	color: greenyellow;

}

h2
{
	color: mediumpurple;
}

h3
{
	color: darkred;
}

h4
{
	color: red;
}

h5
{
	color: yellow;
}

fond color
{
	color: yellow;
}