h1
{
	color: lawngreen;

}

h2
{
	color: mediumpurple;
}

h3
{
	color: darkred;
}

h4
{
	color: red;
}

h5
{
	color: yellow;
}

h6
{
   color: yellowgreen;

}

.page3:hover {
   color: darkgreen;
}

*{
	background-color: black
}